.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aryan:hover {
  .a {
    background-color: rgb(238, 238, 253);
  }
  .b {
    color: red;
  }
  .c {
    background-color: rgb(1, 1, 187);
    color: white;
  }
}

.gradient-hover {
  background: linear-gradient(to right, #f56565, #d46767 50%, #d46767, #f56565 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 300ms ease;
}

.gradient-hover:hover {
  background-position: -100% 0;
}
